.jumbotron{
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-weight: bold;
  background-color:#17a71e;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}

.how{
  backdrop-filter: black;
  background-image: url(../images/pig.jpg);
  font-family: 'Love Ya Like A Sister', 'cursive';
  background-attachment: fixed;
}

.list{
  font-weight: bolder;
  font-size: 20px;
}
.play-game{
  background-color: #2ecc71;
  color: black;
  width: 25%;
  padding: 20px;
  position: 100%;
  border-radius: 25px;
}
.intro{
  background-image: url(../images/bck.jpg);
  text-align: center;

}
.playerone{
  text-align: center;
  width: 50%;
  float: left;
  height: 800px;
  font-size: 40px;
  color: #081a18;
}

.playertwo{
  text-align: center;
  width: 50%;
  height: 25.1em;
  float: right;
  color: #081a18;
  background-color:#4ECDC4;
  font-size: 40px;
}
#total{
  font-size: 30px;
  color: #081a18;
  margin: 50px;
}
#total1{
  color:#081a18;
  font-size: 30px;
  margin: 50px;

}
.header{
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  animation-name: bounce;
  animation-duration: 2s infinite;
}

.p2{
  font-style: italic;
  font-size: 40px;
  font-weight: 500;
  color: black;
  font-family: 'Love Ya Like A Sister', cursive;
}
.link{
  font-weight: 600;
}

.paragraph{
  font-size: 30px;
  font-weight: 100%;
  line-height: 50px;
  color: black;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 200px rgb(139, 15, 15);
  }
  to {
    text-shadow: 0 0 50px #28881f;
  }
}
