.jumbotron{
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-weight: bold;
  background-color:#00A4A6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
#winner{
  margin-top:0cap;
}

.res{
  text-align: center;
  margin-top: 29%;
}
.how{
  backdrop-filter: black;
  background-image: url(../images/pig.jpg);
  font-family: 'Love Ya Like A Sister', 'cursive';
  background-attachment: fixed;
}

.list{
  font-weight: bolder;
  font-size: 20px;
}
.play-game{
  background-color: #2ec1cc;
  color: black;
  width: 25%;
  padding: 20px;
  border-radius: 25px;
}
.restart-game{
  background-color: #2ec1cc;
  color: black;
  width: 25%;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
}
.results {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-weight: bold;
  background-color:#abdbe3;
  margin-left: 70px;
  margin-right: 70px;
}
.intro{
  background-image: url(../images/bck.jpg);
  text-align: center;
  margin-top: 12em;
}
.playerone{
  text-align: center;
  width: 50%;
  float: left;
  height: 550px;
  font-size: 40px;
  color: #081a18;
  background-color: #eeeee4;
}

.playertwo{
  text-align: center;
  width: 50%;
  height: 550px;
  float: right;
  color: #081a18;
  background-color:#dedbd4;
  font-size: 40px;
}
#total{
  font-size: 30px;
  color: #081a18;
  margin: 50px;
}
#total1{
  color:#081a18;
  font-size: 30px;
  margin: 50px;

}
.header{
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  animation-name: bounce;
  animation-duration: 2s infinite;
}

.link{
  font-weight: 600;
}

.paragraph{
  font-size: 30px;
  font-weight: 100%;
  line-height: 50px;
  color: black;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 200px rgb(139, 15, 15);
  }
  to {
    text-shadow: 0 0 50px #28881f;
  }
}
